#### print() statement

In [ ]:
print('Hello')

In [ ]:
name = 'Thomas'
age = 32

In [ ]:
print('Hello', name)

In [ ]:
print('My name is', name, ' I am ', age, 'years old')

In [ ]:
# Using format string
print(f'My name is {name}, I am {age} years old')

#### Getting input

In [ ]:
name = input('Enter your name:')

In [ ]:
name

In [ ]:
age = int(input('Enter your age:'))

In [ ]:
age

#### if statement

In [ ]:
mark = int(input('Enter your mark:'))
mark

In [ ]:
if mark > 90 :
    print('Excellent!!')
    
print('You have passed!')

#### if - else

In [ ]:
age = int(input('Enter your age:'))
age

In [ ]:
if age >= 18:
    print('Congrats! You can vote')
else:
    print('Sorry, come back when you are older.')

In [ ]:
flavour = input('Enter your favourite icecream:').lower()

In [ ]:
if flavour == 'chocolate':
    print('You have great taste.')
    print('Enjoy your icecream!')
else:
    print('Sorry, we only have chocolate')
    print('Would you like to have chocolate?')
    
print('Thank You!')

In [ ]:
user = input('Enter User name:')
user

In [ ]:
if '$' in user or '#'in user:
    print('Invalid User')
else:
    print('Registration Successful!')

#### if - elif - else

In [ ]:
num = int(input('Enter a number:'))
num

In [ ]:
if num > 0 :
    print('Wow! You are so positive')
    print('Keep it up')
elif num == 0:
    print('You are a big fat ZERO!')
else:
    print('Why are you so negative?')
    print('Cheer up')

In [ ]:
mark = 40

if mark >= 80:
    res = 'Distinction'
elif mark >= 60 and mark < 80:
    res = "Fist Class"
elif mark >= 40 and mark < 60:
    res = 'Second Class'
else:
    res = 'Failed'

print(res)

In [ ]:
mark = 70

if mark >= 80:
    res = 'Distinction'
elif mark >= 60:
    res = "Fist Class"
elif mark >= 40:
    res = 'Second Class'
else:
    res = 'Failed'

print(res)

#### For loops

In [ ]:
marks_lst = [67,89,43,23,76,54]

In [ ]:
for mark in marks_lst:
    if mark >= 80:
        res = 'Distinction'
    elif mark >= 60:
        res = "Fist Class"
    elif mark >= 40:
        res = 'Second Class'
    else:
        res = 'Failed'
    print(mark, ' -> ', res)

In [ ]:
names_lst = ['Adam','Bob','Anita','Crystal','Kim','Albert','Ambani','Jon']

In [ ]:
alist = []
for name in names_lst:
    if name.startswith('A'):
        alist.append(name)
alist

In [ ]:
for x in range(5):
    print(x)

In [1]:
for x in range(1,10):
    print(x*' *')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [16]:
n=10
for i in range (1,n+1):
    print((n+1-i)*' ',( 2*i -1)*'*')

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************

##### While Loop

In [12]:
cnt = 0

while True:
    print('Hello')
    cnt = cnt + 1

    if cnt == 5:
        break

print('Done')

Hello
Hello
Hello
Hello
Hello
Done

In [17]:
secret_number = 7
while True:
    num = int(input('Enter a num between 1 an 10:'))
    if num == 7:
        print('Congrats! You won the Jackpot!!')
        break
    else:
        print('Sorry, try again')

Enter a num between 1 an 10: 3

Sorry, try again

Enter a num between 1 an 10: 10

Sorry, try again

Enter a num between 1 an 10: 2

Sorry, try again

Enter a num between 1 an 10: 9

Sorry, try again

Enter a num between 1 an 10: 7

Congrats! You won the Jackpot!!

#### Functions

In [36]:
def avg(n1,n2):
    total = n1 + n2
    avg = total / 2
    return avg

In [37]:
res = avg(10,20)
print('Result=',res)

Result= 15.0

In [38]:
def avg2(n1,n2):
    total = n1 + n2
    avg = total / 2
    print(avg)

In [39]:
res = avg2(10,20)
print('Result=',res)

15.0
Result= None

In [21]:
def find_grade(mark):
    if mark >= 80:
        res = 'Distinction'
    elif mark >= 60 and mark < 80:
        res = "Fist Class"
    elif mark >= 40 and mark < 60:
        res = 'Second Class'
    else:
        res = 'Failed'
    return res

In [40]:
grade = find_grade(98)
grade

'Distinction'

In [41]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

In [44]:
factorial(6)

720

##### Home work - Find if number is prime number